/* CSS per la barra statica del prezzo */
.price-bar {
    position: relative;
    height: 4px;
    background-color: #D1D5DB;
    /* gray-300 */
    border-radius: 9999px;
    margin: 0.75rem 0;
    /* Spazio verticale */
}

.price-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--price-position, 50%);
    height: 100%;
    background-color: #809074;
    border-radius: 9999px;
}

.price-bar::after {
    content: '';
    position: absolute;
    top: 50%;
    left: var(--price-position, 50%);
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #274239;
    box-shadow: 0 0 0 4px #80907479;
}

/* Stili Swiper Puliti (Senza !important) */

/* Frecce di Navigazione */
.swiper-button-prev,
.swiper-button-next {
    color: #BA6830;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    z-index: 10;
    /* Dimensione freccia ridotta */
    font-size: 1.5rem;
}


.price-orange {
    color: #BA6830;
}



/* Spazio orizzontale ridotto */
.swiper-button-prev {
    left: -.05rem;
}

.swiper-button-next {
    right: -.05rem;
}

/* Paginazione (Pallini) - Spostati più in basso */
.swiper-pagination {
    margin-top: 2rem;
    position: relative;
}

/* Pallino Attivo */
.swiper-pagination-bullet-active {
    background: #274239;
}